.outlineButton {
  position: relative;
  z-index: 1;

  background: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  border-radius: 35rem;
  padding: 22px 48px 24px 48px;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;

}

.outlineButton::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left:2px;

  border-radius: calc(35rem + 2px);
  background: #242424;
  z-index: -1;
}

.outlineButton::after {
  content: attr(data-content);
  color: #ffffff;

  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.outlineButton:hover::before {
  background: unset;
}

.textButton {
  background: transparent;
  border: none;
  padding: 22px 48px 24px 48px; /* same padding as .outlineButton */
  cursor: pointer;
  transition: all 0.3s ease;
}

.textButton::after {
  content: attr(data-content);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.textButton:hover {
  background: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
