@import '@/styles/_mixins.module.scss';

.countersList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

  @include respond('tablet') {
    flex-direction: row;
    gap: 2rem;
  }
}