$gradientBackground: linear-gradient(109.22deg, #B53EA4 3.07%, #FC6F32 47.61%, #FF4A59 93.05%);
$lightGradientBackground:  linear-gradient(106.2deg, #FFD6F9 -12.33%, #FFCBB4 50.28%, #FFBEC3 114.17%);
$countersGradient: linear-gradient(105.65deg, rgba(150, 52, 136, 0.2) 0.15%, rgba(252, 111, 50, 0.2) 130.58%, rgba(255, 74, 89, 0.2) 263.64%);